In [9]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import yfinance as yf

stock_symbol = "RELIANCE.NS"

stock_data = yf.download(stock_symbol, start="2023-02-01", end="2023-05-19")

closing_prices = stock_data["Close"].values

window = 20
sma = np.zeros_like(closing_prices)
for i in range(window, len(closing_prices)):
    sma[i] = np.mean(closing_prices[i-window:i])

alpha = 2 / (window + 1)  
ema = np.zeros_like(closing_prices)
ema[window] = np.mean(closing_prices[:window])
for i in range(window + 1, len(closing_prices)):
    ema[i] = (closing_prices[i] - ema[i-1]) * alpha + ema[i-1]

plt.figure(figsize=(12, 6))
plt.plot(stock_data.index, closing_prices, label="Close Price")
plt.plot(stock_data.index, sma, label="SMA")
plt.plot(stock_data.index, ema, label="EMA")
plt.title(f"{stock_symbol} Moving Averages")
plt.xlabel("Date")
plt.ylabel("Price")
plt.legend()
plt.show()

[*********************100%***********************]  1 of 1 completed

ValueError: Length of values (101) does not match length of index (79)

In [7]:
import yfinance as yf
import numpy as np
import matplotlib.pyplot as plt

def su(a,i):
    s=0
    for x in range(i+1) :
        s+=a[x]
    return s

sbi=yf.Ticker('SBIN.NS')

df = sbi.history(start="2023-01-01",end ="2023-04-01")
df2 = df[['Close']]
c=df2.to_numpy()
sma=[]
day=[]
for j in range(0,59):
    day.append(j)

for i in range (0,59):
    sma.append((su(c,i+3)-su(c,i))/3)

fig,axes=plt.subplots()

axes.plot(day,sma,'g')
axes.set_xlabel('Day')
axes.set_ylabel('Simple moving average')
plt.show()

KeyError: "None of [Index(['Adj Close'], dtype='object')] are in the [columns]"

In [3]:
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-01-02 00:00:00+05:30,614.950012,619.200012,611.200012,612.200012,6726084,0.0,0.0
2023-01-03 00:00:00+05:30,614.500000,616.599976,610.000000,612.400024,6818062,0.0,0.0
2023-01-04 00:00:00+05:30,611.849976,614.950012,604.000000,605.200012,7011191,0.0,0.0
2023-01-05 00:00:00+05:30,607.000000,611.599976,601.950012,605.099976,8241475,0.0,0.0
2023-01-06 00:00:00+05:30,607.400024,607.450012,597.000000,600.650024,7972036,0.0,0.0
...,...,...,...,...,...,...,...
2023-03-24 00:00:00+05:30,514.500000,514.950012,503.450012,505.350006,14416984,0.0,0.0
2023-03-27 00:00:00+05:30,507.000000,514.150024,501.549988,510.149994,15674218,0.0,0.0
2023-03-28 00:00:00+05:30,511.450012,511.750000,503.850006,508.100006,15833599,0.0,0.0
2023-03-29 00:00:00+05:30,509.000000,518.000000,506.299988,516.500000,24203789,0.0,0.0
2023-03-31 00:00:00+05:30,520.650024,524.900024,519.349976,523.750000,17356345,0.0,0.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 62 entries, 2023-01-02 00:00:00+05:30 to 2023-03-31 00:00:00+05:30
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          62 non-null     float64
 1   High          62 non-null     float64
 2   Low           62 non-null     float64
 3   Close         62 non-null     float64
 4   Volume        62 non-null     int64
 5   Dividends     62 non-null     float64
 6   Stock Splits  62 non-null     float64
dtypes: float64(6), int64(1)
memory usage: 3.9 KB